@font-face {
    font-family: "Gudian";
    src: url("fonts/gudian.otf") format("opentype");
}

body {
    margin: 0;
    background-image: url("images/resources/texture.png");
}

#container {
    /* background-image: url("images/resources/gloss.png"); */
    width: 100%;
    height: 100%;
}

#poetry {
    margin: 50px auto;
    font-family: "Gudian";
    font-size: 30px;
    color: whitesmoke;
    writing-mode: vertical-rl;
}

#poet {
    font-size: 25px;
}
